<!DOCTYPE html>
<html>
   <head>
      <% include templates/head.ejs %>
      <link rel="stylesheet" type="text/css" href="css/control.css">
   </head>

   <body id="<%= pageID %>">
      <p><a href="/">Home</a></p>
      <h1>PID chopper control</h1>
      <span id="websocket_conn_status_field_id" class="ws-status-field">Disconnected</span> <div id="websocket_status_led_id"></div>
      <button id="ws_close_btn_id">Close</button>
      <div id="item_5_status_container_id" style="display: none">
         <dl>
            <dt>Current value</dt><dd id="item_5_current_value_field_id">Unknown</dd>
            <dt>Last updated</dt><dd id="item_5_updated_field_id">Unknown</dd>
         </dl>
         <div id="item_5_new_value_container_id">
            <label for="item_input_field_id">New value</label>
            <input type="text" name="item_input_field" id="item_input_field_id" />
            <button id="update_item_5_value_btn_id">Set</button>
         </div>
      </div>
      <div id="input_status_table_container_id">
         <table>
            <tr>
               <td></td>
               <th>Potentiometer</th>
               <th>Motor power</th>
               <th>Motor feedback</th>
            </tr>
            <tr>
               <th>Value</th>
               <td id="potentiometer_value_status_cell_id"></td>
               <td id="motorPower_value_status_cell_id"></td>
               <td id="motorFeedback_value_status_cell_id"></td>
            </tr>
            <tr>
               <th>Data</th>
               <td id="potentiometer_data_status_cell_id"></td>
               <td id="motorPower_data_status_cell_id"></td>
               <td id="motorFeedback_data_status_cell_id"></td>
            </tr>
            <tr>
               <th>Updated</th>
               <td id="potentiometer_updated_status_cell_id"></td>
               <td id="motorPower_updated_status_cell_id"></td>
               <td id="motorFeedback_updated_status_cell_id"></td>
            </tr>
         </table>
      </div>
      <div id="motor_control_container_id">
         <button id="start_chopper_btn_id">Start</button>
         <button id="set_chopper_btn_id">Set</button>
         <input
                 id="set_chopper_value_input_field_id"
                 name="set_chopper_value"
                 size="3"
                 max="255"
                 maxlength="3"
                 type="text">
         <button id="stop_chopper_btn_id">Stop</button>
         <button id="test_chopper_btn_id">Test</button>
         <span id="command_feedback_field_id">Idle</span>
      </div>

      <div id="status_graph_container_id">
         <svg id="potentiometer_graph_container_id" width="480" height="250"></svg>
         <svg id="emf_graph_container_id" width="480" height="250"></svg>
         <svg id="motorPower_graph_container_id" width="480" height="250"></svg>
      </div>
   </body>
   <% include templates/script.ejs %>
   <script src="//d3js.org/d3.v4.min.js"></script>
   <script src="js/control.js"></script>
   <script src="js/d3_line_graph_v2.js"></script>
   <script>
      createGraph('potentiometer');
      createGraph('emf');
      createGraph('motorPower');
   </script>
</html>