<!DOCTYPE html>
<html>
   <head>
      <% include templates/head.ejs %>
   </head>

   <body id="<%= pageID %>">
      <h1>Hello World!</h1>
      <ul>
         <li><a href="visual">Visualisation</a></li>
         <li><a href="d3">D3 course</a></li>
         <li><a href="control">PID control</a></li>
      </ul>
   </body>

   <% include templates/script.ejs %>
   <script>
      console.log($().jquery);
   </script>

</html>