<!DOCTYPE html>
<html>
   <head>
      <meta charset="UTF-8">
      <link rel="stylesheet" type="text/css" href="css/main.css">

      <title>PID chopper</title>
   </head>

   <body>
      <h1>Hello World of mine 3!</h1>
   </body>

   <script src="jquery/jquery.min.js"></script>
   <script src="js/main.js"></script>
   <script src="reload/reload.js"></script>
   <script>
      console.log($().jquery);
   </script>

</html>