<!DOCTYPE html>
<html>
   <head>
      <meta charset="UTF-8">
      <link rel="stylesheet" type="text/css" href="css/base.css">
      <link rel="stylesheet" type="text/css" href="css/main.css">
      <link rel="stylesheet" type="text/css" href="css/visual.css">

      <title><%= siteTitle %>: <%= pageTitle %></title>
   </head>

   <body id="<%= pageID %>">
      <p><a href="/">Home</a></p>
      <h1>Hello D3!</h1>
      <p>Data Visualisation with D3.js</p>
   </body>

   <script src="jquery/jquery.min.js"></script>
   <script src="reload/reload.js"></script>
   <script src="https://d3js.org/d3.v3.min.js"></script>
   <script src="js/visual.js"></script>

</html>