div {
   margin: 20px;
}

.highlight {
   color: #C64C6F;
   font-weight: 600;
}

dt {
   font-weight: bold;
}

#current_status_conatianer_id {
   margin: 10px;
}

#item_5_status_container_id {
   padding: 20px;
}

.ws-status-field {
   color: red;
   font-weight: bold;
   font-size: 150%;
}

#websocket_status_led_id {
   border-radius: 50%;
   width: 20px;
   height: 20px;
   margin: 0px 10px;
   display: inline-block;
}
.line {
   fill: none;
   stroke: #000;
   stroke-width: 1.5px;
}